<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i style="width: 20px;height: 20px" class="{{ link.icon }}" aria-hidden="true"></i> </a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
    <br/>
    <li>
      Email: <span style="text-transform:lowercase;">hanwenme@gmail.com</span>
    </li>
    <br/>
    <li><span>&copy; 2019 文哥生活空间 版权所有.</span></li>
  </ul>
  <ul>
    
  </ul>

</div>